button.pressable {
  $transition: .15s ease;

  transition:
          scale $transition,
          opacity $transition
  ;

  &:not(&:disabled) {
    &:active {
      scale: .925;
    }
  }

  &:disabled {
    @apply opacity-30;
  }
}
