@import "src/assets/styles/templates";

header.appHeader {
  $em: 16;
  $pad: 1.5rem;

  @extend %notSelectable;

  @apply flex justify-between items-center;

  font-size: .8rem; // 1em = 20px
  padding: $pad $pad toLocalEm(15, $em);
  position: relative;

  &:after {
    @apply bg-hidden;

    position: absolute;
    bottom: 0;
    left: $pad;
    height: 1px;
    width: calc(100% - 2 * $pad);
    content: "";
  }

  section.logo {
    @apply flex items-center;

    gap: toLocalEm(5, $em);
  }

  button.close {
    @include expandButton(5px);
  }
}
