@import "src/assets/styles/templates";

footer.appFooter {
  @extend %notSelectable;

  @include padding-horizontal(1.5rem);

  // padding-top: toLocalEm(15, 20);
  padding-bottom: 1.5rem;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 1em;

  section.part {
    @apply flex-center gap-[.5em];

    button {
      @include expandButton(3px);
    }
  }
}
